In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# CSV file
csvfile = "demographics.csv"

In [3]:
# Read CSV file into a pandas DataFrame
### BEGIN SOLUTION
df = pd.read_csv(csvfile, dtype=object)
### END SOLUTION

In [4]:
# Use `dropna` to drop any rows where there is missing data
### BEGIN SOLUTION
df = df.dropna(axis=0)
### END SOLUTION

In [5]:
# Drop the `name` column and reset the index
### BEGIN SOLUTION
df.drop(['name'], axis=1).reset_index(drop=True)
### END SOLUTION

,id,age,height_meter,weight_kg,children,occupation,academic_degree,salary,location
0,0,58,1.87,53,1,Choreographer,PhD,68,South Dakota
1,1,65,1.80,40,0,Cellarman,Bachelor,73,Delaware
2,2,32,1.80,73,1,Veterinary Surgeon,Master,69,South Dakota
3,3,61,1.79,89,0,Hawker,PhD,88,Louisiana
4,4,23,1.64,51,2,Choreographer,Bachelor,83,West Virginia
5,5,20,1.68,60,4,Medical Physicist,Bachelor,65,South Dakota
6,6,31,1.56,62,0,Weaver,Master,72,Louisiana
7,7,56,1.60,42,0,Lighthouse Keeper,Master,65,Louisiana
8,8,30,1.62,44,3,Millwright,Master,87,Louisiana
9,9,44,1.69,51,5,Medical Supplier,PhD,72,West Virginia
10,10,55,1.82,72,5,Manicurist,Bachelor,73,South Dakota
11,11,66,1.63,78,5,Window Dresser,Bachelor,90,Delaware
12,12,62,1.88,41,1,Assistant,Master,78,Alaska
13,13,35,1.53,74,5,Paramedic,Bachelor,69,Delaware
14,14,66,1.94,79,3,Genealogist,Master,75,South Dakota
15,15,23,1.87,72,2,Servant,PhD,77,South Dakota
16,16,40,1.61,46,4,Technical Liaison,Bachelor,76,Louisiana
17,17,34,1.55,78,1,Scientist,PhD,90,South Dakota
18,18,64,1.69,67,4,Market Research,PhD,79,Louisiana
19,19,25,1.86,81,4,Medical Supplier,PhD,77,South Dakota
20,20,53,1.65,48,3,Actor,PhD,74,Louisiana
21,21,41,1.75,49,4,Claims Adjustor,PhD,83,Delaware
22,22,63,1.82,76,1,Groom,Master,67,South Dakota
23,23,60,1.98,71,0,Payroll Assistant,Master,72,Alaska
24,24,23,1.96,89,2,Machine Operator,Bachelor,72,South Dakota
25,25,42,1.78,43,0,Tea Blender,Bachelor,73,West Virginia
26,26,58,1.56,80,3,Warden,Bachelor,76,Delaware
27,27,41,1.94,65,1,Undertaker,PhD,76,Delaware
28,28,60,1.66,80,5,Psychiatrist,Master,73,South Dakota
29,29,56,1.56,52,0,Planning Technician,Bachelor,85,Delaware
...,...,...,...,...,...,...,...,...,...
970,970,67,1.92,43,2,Stone Sawyer,Bachelor,86,Alaska
971,971,33,1.88,85,2,Applications Engineer,PhD,74,Delaware
972,972,60,1.95,58,1,Instructor,Master,81,Delaware
973,973,44,1.66,66,5,Engineer,Master,74,Alaska
974,974,21,1.64,38,4,Word Processing Operator,PhD,82,Louisiana
975,975,65,1.77,73,2,Metal Polisher,Bachelor,70,West Virginia
976,976,53,1.62,42,2,Plant Attendant,PhD,80,South Dakota
977,977,40,1.57,68,5,Betting Shop,Bachelor,85,West Virginia
978,978,51,1.54,63,1,Slater,PhD,75,West Virginia
979,979,44,1.67,50,5,Tunneller,Bachelor,69,Alaska
980,980,42,1.57,90,5,Storeman,Bachelor,70,Louisiana
981,981,48,1.84,83,3,Stud Hand,Bachelor,72,Delaware
982,982,37,1.93,77,2,Production Planner,Master,87,Delaware
983,983,47,1.96,59,2,Sports Administrator,Master,66,Louisiana
984,984,44,1.74,60,3,Steel Erector,Bachelor,78,Louisiana
985,985,51,1.67,74,1,Tiler,Bachelor,69,West Virginia
986,986,33,1.86,44,2,Wholesale Newspaper,PhD,73,Delaware
987,987,39,1.65,67,3,Safety Officer,Bachelor,85,South Dakota
988,988,46,1.58,68,3,Building Estimator,Master,76,South Dakota
989,989,52,1.85,65,3,Plastics Consultant,PhD,88,Delaware
990,990,21,1.83,42,5,Tea Taster,Bachelor,73,West Virginia
991,991,61,1.78,90,3,Hospital Doctor,Master,84,Louisiana
992,992,20,1.80,81,4,Purchasing Assistant,Master,67,Delaware
993,993,66,1.83,43,1,Garage Manager,PhD,83,Louisiana
994,994,31,1.57,47,3,Trichologist,Master,80,Delaware
995,995,39,1.79,50,1,Partition Erector,Master,74,South Dakota
996,996,31,1.97,65,5,Playgroup Leader,Bachelor,71,South Dakota
997,997,65,1.99,63,1,Nursery Nurse,Bachelor,89,West Virginia
998,998,33,1.77,41,0,Word Processing Operator,Master,87,Louisiana
999,999,63,1.64,39,1,Shepherd,PhD,71,West Virginia

In [8]:
# Save the cleaned data to a file called `cleaned_demographics.csv`
### BEGIN SOLUTION
clean_data = "cleaned_csv.csv"
df.to_csv(clean_data, index=False)
### END SOLUTION

In [9]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [10]:
# Create an engine to a database file called `demographics.sqlite`
### BEGIN SOLUTION
engine = create_engine("sqlite:///demographics.sqlite")
### END SOLUTION

In [11]:
# Create a connection to the engine called `conn`
### BEGIN SOLUTION
conn = engine.connect()
### END SOLUTION

In [12]:
# Use `declarative_base` from SQLAlchemy to model the demographics table as an ORM class
# Make sure to specify types for each column
### BEGIN SOLUTION

Base = declarative_base()

class Demographics(Base):
    __tablename__ = 'demographics'

    id = Column(Integer, primary_key=True)
    age = Column(Integer)
    name = Column(Text)
    height_meter = Column(Float)
    weight_kg = Column(Float)
    children = Column(Integer)
    occupation = Column(Text)
    academic_degree = Column(Text)
    salary = Column(Integer)
    location = Column(Text)

    def __repr__(self):
        return f"id={self.id}, name={self.name}"
### END SOLUTION

SyntaxError: invalid syntax (<ipython-input-12-47e105baf1d7>, line 22)

In [13]:
# Use `create_all` to create the demographics table in the database
### BEGIN SOLUTION
Base.metadata.create_all(engine)
### END SOLUTION

NameError: name 'Base' is not defined

In [12]:
# Load the cleaned csv file into a pandas dataframe
### BEGIN SOLUTION
df_of_data_to_insert = pd.read_csv(clean_data)
### END SOLUTION

In [13]:
# Use Orient='records' to create a list of data to write
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
### BEGIN SOLUTION
data = df_of_data_to_insert.to_dict(orient='records')
data[0]
### END SOLUTION

{'academic_degree': 'PhD',
 'age': 58,
 'children': 1,
 'height_meter': 1.87,
 'id': 0,
 'location': 'South Dakota',
 'name': 'Darlena Avila',
 'occupation': 'Choreographer',
 'salary': 68,
 'weight_kg': 53}

In [14]:
# Use MetaData from SQLAlchemy to reflect the tables
### BEGIN SOLUTION
metadata = MetaData(bind=engine)
metadata.reflect()
### END SOLUTION

In [15]:
# Save the reference to the `demographics` table as a variable called `table`
### BEGIN SOLUTION
table = sqlalchemy.Table('demographics', metadata, autoload=True)
### END SOLUTION

In [16]:
# Use `table.delete()` to remove any existing data.
# Note that this is a convenience function so that you can re-run the example code multiple times.
# You would not likely do this step in production.
### BEGIN SOLUTION
conn.execute(table.delete())
### END SOLUTION

In [17]:
# Use `table.insert()` to insert the data into the table
### BEGIN SOLUTION
conn.execute(table.insert(), data)
### END SOLUTION

In [18]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from demographics limit 5").fetchall()

[(0, 58, 'Darlena Avila', 1.87, 53.0, 1, 'Choreographer', 'PhD', 68, 'South Dakota'),
 (1, 65, 'Yan Boyd', 1.8, 40.0, 0, 'Cellarman', 'Bachelor', 73, 'Delaware'),
 (2, 32, 'Joette Lane', 1.8, 73.0, 1, 'Veterinary Surgeon', 'Master', 69, 'South Dakota'),
 (3, 61, 'Jazmine Hunt', 1.79, 89.0, 0, 'Hawker', 'PhD', 88, 'Louisiana'),
 (4, 23, 'Remedios Gomez', 1.64, 51.0, 2, 'Choreographer', 'Bachelor', 83, 'West Virginia')]

In [19]:
# Optional - Clean Intermediate Files
os.remove(clean_data)

In [20]:
# Run this line to remove the sqlite db file to clear the cache.
# !rm demographics.sqlite

In [21]:
# !ls